.tablafila {
    background-color: bisque;
    padding: auto;
    width: 80%;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    margin-left: 1.5cm;
    border-collapse: collapse;
    width: 70%;
    tr {
    td {
    border: #000 solid 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }
}
