#titulo-principal {
  display: flex;
  justify-content: center;
  margin-top: 1cm;
  margin-bottom: 50px;
}
#titulo-principal h1 {
  color: slategray;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

.descripcion {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.descrip-noticias {
  display: flex;
  justify-content: center;
}
.descrip-noticias h3 {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 50px;
  margin-bottom: 50px;
}

.titulo-army {
  display: flex;
  justify-content: center;
}
.titulo-army h3 {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 50px;
  margin-bottom: 50px;
}

.noticia1 {
  display: inline-block;
  width: 435px;
  height: 600px;
  padding: 10px;
}

.army p {
  margin-left: 1.5cm;
  margin-right: 1.5cm;
  margin-bottom: 1cm;
}
.army img {
  margin-left: 2.5cm;
  margin-right: 2.5cm;
  width: 45%;
  margin-bottom: 1cm;
}

.titulo-main h1 {
  text-align: center;
  margin-bottom: 1cm;
  text-decoration: underline;
  color: maroon;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.h-debut h4 {
  text-align: justify;
  margin: 1.5cm 3cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  text-align: justify;
  margin: 1cm 4cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: beige;
  max-width: 100px;
}

.historia1 h3 {
  text-align: justify;
  margin: 1cm 4cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

p {
  text-align: justify;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin: 15px 1.5cm;
  line-height: 1.6;
}

.img1 {
  display: block;
  width: 40%;
  justify-content: center;
  margin-left: 30%;
  margin-top: 1cm;
  margin-bottom: 1cm;
}

.parrafo-foto {
  display: flex;
  justify-content: center;
  margin-top: 1cm;
}
.parrafo-foto img {
  width: 300px;
  height: 250px;
  margin-right: 4cm;
  margin-bottom: 1cm;
}

.img2 {
  width: 40%;
  padding: 5px;
  justify-self: center;
  margin: 1cm 3cm;
}

.tablafila {
  background-color: bisque;
  padding: auto;
  width: 80%;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

table {
  margin: 0 3cm;
  border-collapse: collapse;
  width: 70%;
}
table tr td {
  border: #000 solid 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.video-joon {
  margin: 1cm 3cm;
  width: 35%;
}

.img3 {
  width: 40%;
  margin: 1.5cm 3cm;
}

#tabla2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 1cm;
}
#tabla2 .sombra-tab {
  background-color: plum;
  font-weight: bold;
}

.grid-music {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.grid-music .cancion1 iframe {
  display: flex;
  width: 400px;
  margin-left: 2cm;
}

.cancion2 {
  display: inline-block;
  padding: 10px;
  margin-left: 4cm;
}

.no-more-dream iframe {
  margin-left: 3cm;
  margin-bottom: 1cm;
  margin-right: 3cm;
  margin-top: 1cm;
  width: 35%;
}

.enlaces {
  text-decoration: underline;
  color: slateblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-style: oblique;
  margin-left: 1cm;
}

.lista-redes {
  margin: 0 2cm;
  line-height: 35px;
}

.instagram {
  display: flex;
  flex-wrap: wrap;
}
.instagram img {
  width: 50%;
  margin-left: 2cm;
}

.twt {
  display: flex;
  flex-wrap: wrap;
}
.twt img {
  width: 50%;
  margin-left: 2cm;
}

.tiktok {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1cm;
}
.tiktok img {
  width: 50%;
  margin-left: 2cm;
}

.formulario {
  margin-top: 1.5cm;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

footer {
  background-color: lightgrey;
  height: 100px;
  display: flex;
  justify-content: end;
}
footer p {
  margin: 1cm 1cm;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
}

@media (max-width: 768px) {
  .link-noticias .noticia1 {
    display: inline-block;
    width: 350px;
    height: 500px;
    padding: 5px;
    margin-left: 20px;
  }
  .btn-noticias {
    font-size: 15px;
    display: block;
    width: 75px;
    margin-left: 100px;
    margin-right: 50px;
    justify-content: center;
  }
  .titulo-army h3 {
    font-size: 15px;
    display: block;
    width: 370px;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .parrafo-foto img {
    display: none;
    visibility: hidden;
  }
  .h-debut h4 {
    margin-top: 1cm;
    color: maroon;
  }
  .img2 {
    width: 45%;
    padding: 5px;
    justify-self: center;
    margin: 1cm 2cm;
  }
  .no-more-dream iframe {
    margin-left: 2cm;
    margin-bottom: 1cm;
    margin-right: 2cm;
    margin-top: 1cm;
    width: 60%;
  }
  table {
    margin: 0 1.5cm;
    width: 80%;
  }
  table tr td {
    border: #000 solid 1px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .grid-music {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }
  .grid-music .cancion1 iframe {
    display: flex;
    width: 300px;
    margin-left: 1cm;
  }
}/*# sourceMappingURL=main.css.map */