$colorPrincipal: maroon;
$colorSecun: slategray;

#titulo-principal {
    display: flex;
    justify-content: center;
    margin-top: 1cm;
    margin-bottom: 50px;
    h1 {
    color: $colorSecun;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    }
}

.descripcion {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.descrip-noticias {
    display: flex;
    justify-content: center;
    h3 {
        font-size: 18px;
        font-weight: bold;
        color: $colorSecun;
        text-decoration: underline;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        }
}


.titulo-army {
    display: flex;
    justify-content: center;
    h3 {
    color: $colorPrincipal;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 50px;
    }
}

.noticia1 {
    display: inline-block;
    width: 435px;
    height: 600px;
    padding: 10px;
}


.army {
    p {
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    margin-bottom: 1cm;
    }
    img {
    margin-left: 2.5cm;
    margin-right: 2.5cm;
    width: 45%;
    margin-bottom: 1cm;
    }
}

.army {
    img:hover {
        transform: rotate(40deg)
    }
}


h2 {
    text-align: justify;
    margin: 1cm 4cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: beige;
    max-width: 150px;
    
}   

p {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 15px 1.5cm;
    line-height: 1.6;
} 


footer {
    background-color:lightgrey;
    height: 100px;
    display: flex;
    justify-content: end;
    p {
    margin: 1cm 1cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    }
}


@import 'historia';

@import 'miembros';

@import 'musica';

@import 'redes sociales';

@import 'media';